.navigation {
  padding: 20px 30px;
  background-color: rgb(102, 102, 255);
  text-align: center;
}

.navigation a {
  padding: 10px;
  margin: 0 20px;
  color: white;
}

.post-title {
 font-weight: 700;
 color: blue;
}